@media (max-width: 960px){
  img.post{
    max-width: 215%;
    }
}
@media (max-width: 640px) {
  .services_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.22;
  }
  img.post{
    max-width: 100%;
    }
  
}